@import "../../variables.scss";

.mine-number {
  font-size: 1rem;
}

.tile-1 {
  color: $tile-1;
}

.tile-2 {
  color: $tile-2;
}

.tile-3 {
  color: $tile-3;
}

.tile-4 {
  color: $tile-4;
}

.tile-5 {
  color: $tile-5;
}

.tile-6 {
  color: $tile-6;
}

.tile-7 {
  color: $tile-7;
}

.tile-8 {
  color: $tile-8;
}