@import "../../variables.scss";

.tile {
  width: 2rem;
  height: 2rem;
  
  background: $grey;
  border: 2px outset;
  
  cursor: pointer;

  &:hover {
    background: $grey-secondary;
  }

  &:active {
    background: $grey-secondary;
    border-style: inset;
  }

  &:focus {
    outline: 0;
  }
}