@import "../../variables.scss";

.tile {
  width: 2rem;
  height: 2rem;
  
  background: $grey;
  border: 2px outset;

  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  
  &:not(:disabled) {
    cursor: pointer;
  }

  &.revealed {
    border: 1px solid $grey-secondary;
  }

  &.lost {
    background: $red;
  }

  &:hover:not(.revealed) {
    background: $grey-secondary;
  }

  &:active:not(.revealed) {
    background: $grey-secondary;
    border-style: inset;
  }

  &:focus {
    outline: 0;
  }
}

.tile-icon {
  width: 1.2rem;
  image-rendering: pixelated;
}