$grey: rgb(189, 189, 189);
$grey-secondary: rgb(179, 179, 179);

$windows-bg: rgb(52, 127, 128);

// Number colors
$tile-1: #0000ff;
$tile-2: #008100;
$tile-3: #ff1300;
$tile-4: #000083;
$tile-5: #810500;
$tile-6: #2a9494;
$tile-7: #000000;
$tile-8: #808080;